doctype html
html
  head
    include includes/head
  body#aboutus
    include includes/header
    .container
      .page-header
        h1 About Us
    .container
      #content.row
        div.col-md-8
          h2 Lawrence Lessig - Founder, Board Member
          div.headshot <img src="/static/Lessig_credited_small-small-19.jpg"/>
          p Lawrence Lessig is the Roy L. Furman Professor of Law and Leadership at Harvard Law School, director of the Edmond J. Safra Center for Ethics at Harvard University, and founder of Rootstrikers, a network of activists leading the fight against government corruption. He has authored numerous books, including Republic, Lost: How Money Corrupts Our Congress&mdash;and a Plan to Stop It, Code and Other Laws of Cyberspace, Free Culture, and Remix.
          p Lessig serves on the Board of Creative Commons, AXA Research Fund and iCommons.org, and on the Advisory Boards of the Sunlight Foundation and the Better Future Project. He is a Member of the American Academy of Arts and Sciences and the American Philosophical Association, and has received numerous awards, including the Free Software Foundation&rsquo;s Freedom Award, Fastcase 50 Award and being named one of Scientific American&rsquo;s Top 50 Visionaries.
          p Lessig holds a BA in economics and a BS in management from the University of Pennsylvania, an MA in philosophy from Cambridge, and a JD from Yale. Prior to rejoining the Harvard faculty, Lessig was a professor at Stanford Law School, where he founded the school&rsquo;s Center for Internet and Society, and at the University of Chicago. He clerked for Judge Richard Posner on the 7th Circuit Court of Appeals and Justice Antonin Scalia on the United States Supreme Court.

          div(style="clear:both;")
          h2 Jim Greer &mdash; Board Member
          div.headshot <img src="/static/jimgreer-e1398802792483.jpg"/>
          p Jim Greer is the cofounder of Kongregate, which distributes 80,000 games to over 20 million monthly users on web and mobile. He recently stepped down as Kongregate&rsquo;s CEO to found CounterPAC, which seeks to improve the problems of money in politics through direct intervention in elections. He has worked in the game industry since 1991 and holds a Computer Science degree from Princeton. In his spare time he enjoys biking and poker. He lives in San Francisco with his wife and two children.

          div(style="clear:both;")
          h2 Mark McKinnon &mdash; Board Member, Treasurer
          div.headshot <img src="/static/MarkMcKinnonSquare.jpg"/>
          p McKinnon is an award-winning media producer and communications strategist who has served as principal media advisor for hundreds of corporate and political campaigns around the world. McKinnon has helped engineer five winning presidential primary and general elections. He has been awarded more than 30 Pollie and Telly awards, honoring the nation&rsquo;s best political and public affairs advertising.
          p According to Broadcasting and Cable magazine, McKinnon is one of &ldquo;a handful of players behind every big decision, consensus or roadblock in Washington…putting a unique, sometimes hidden stamp on the outcome of today&rsquo;s debates.&rdquo; Politics Daily writes: &ldquo;He&rsquo;s known for his originality in a field typified by copy-cats, a mellow personality in a world populated with high-strung brutes, and ecumenical urges in a profession dominated by its unadulterated partisans.&rdquo;
          p &ldquo;McKinnon is evidence that principled centrism is not an oxymoron,&rdquo; wrote John Avalon in a Daily Beast column about the 25 Best Centrist Pundits. &ldquo;McKinnon piloted John McCain&rsquo;s 2008 primary campaign to victory. But he announced in advance that if Barack Obama won the democratic nomination, he would ride off into the sunset rather than participate in the negative attacks he knew would be required. This is unheard of in the world of modern politics, where partisanship trumps principle as a matter of course.&rdquo;
          p Former President George W. Bush says of McKinnon, &ldquo;I was really impressed by Mark&rsquo;s creativity, and I was particularly impressed by his honesty.&rdquo; Senator John McCain, in his typical straight-talk fashion, remarks, &ldquo;He&rsquo;s almost a genius.&rdquo; And President Barack Obama calls McKinnon &ldquo;a class act.&rdquo;
          p McKinnon is co-founder of No Labels, a non-profit organization dedicated to bipartisanship, civil discourse and problem solving in politics, and is co-chair of Arts+Labs, a collaboration between technology and creative communities that have embraced today&rsquo;s rich internet environment to deliver innovative and creative digital products to consumers. President Bush appointed McKinnon to serve as a governor of the Broadcasting Board of Governors. He currently serves on the boards of the Lance Armstrong Foundation and Change Congress, an organization dedicated to campaign finance reform, and has taught at the JFK School of Government at Harvard University and the LBJ School of Public Affairs at the University of Texas at Austin.
          p McKinnon attended the University of Texas at Austin and served as editor of the award-winning university newspaper, The Daily Texan. He spent several years in Nashville working as a songwriter with Kris Kristofferson (and was wildly unsuccessful). McKinnon also is a two-time Ironman finisher. His quality of life is exceptionally enhanced by the enduring love and patience of his wife, Annie (whom he met before he could drive), and his daughters, Brita, 26, and Kendall, 24.

          div(style="clear:both;")
          h2 Marcia Morris , JD, MPA (Ret.) &mdash; Board Member
          div.headshot <img src="/static/marcia.jpg"/>
          p Over the course of her 40 year career, Morris served as the chief legal officer and in executive management roles in for profit and not for profit enterprises in the healthcare delivery, life sciences, and consumer products and services industries. She is serving or has served as a board member of Roger Williams University, New England College and the DeCordova Museum and Sculpture Park. Morris is a graduate of Connecticut College, Boston University School of Law and the Kennedy School at Harvard University.

          div(style="clear:both;")
          h2 Brian Boyko &mdash; CTO
          div.headshot <img src="/static/boyko.jpg"/>
          p Brian Boyko is a social media and marketing consultant from Austin, Texas, whose consultancy, <a href="http://blogphilo.com/">Blogphilo</a>, produces web copy, video production, WordPress configuration, and presentation animation for tech industry startups and political campaigns.
          p In 2013, Boyko ran a political campaign for Texas State Representative powered by viral marketing and Internet funding.  Though the campaign was short-lived, Boyko was able to raise awareness of the issue of campaign finance and the eventual Democratic nominee promised to make campaign finance reform a key issue in the campaign and a priority if elected.  All donations to Boyko&rsquo;s campaign were returned to his contributors when he dropped out of the race.
          p From 2007-2010, Boyko made multiple trips to New Zealand in order to study the reason why the South Pacific nation constantly ranked as the &ldquo;least corrupt country&rdquo; on <a href="http://cpi.transparency.org/cpi2013/">Transparency International&rsquo;s yearly index</a>, including interviewing former Prime Minsters, current political party leadership, and living and working under the New Zealand political system for 6 months in 2010.  He found that New Zealand&rsquo;s relatively low corruption comes from a combination of good campaign finance laws and electoral reforms that make multi-party systems possible.  He published his findings in his book, &ldquo;<a href="http://www.amazon.com/Importing-Democracy-Brian-Boyko-ebook/dp/B00G8TC4HY">Importing Democracy</a>.&rdquo;
          p Boyko holds an M.A. in Journalism from the University of Texas at Austin and a B.A. in American History from Rutgers-Newark and the New Jersey Institute of Technology. He is a former associate editor of the award-winning newspaper, the Daily Texan, and operates a political blog at <a href="http://boykotx.org/">BoykoTX.org</a>.

          h2 <a href="http://www.capdale.com/tpotter">Trevor Potter</a> &mdash; Legal Counsel

          h2 <a href="http://www.capdale.com/msanderson">Matthew Sanderson</a> &mdash; Legal Counsel

        #credits.col-md-4
          h2 Credits
          dl
            dt Original Site Design
            dd Brian Boyko (<a href="http://blogphilo.com">Blogphilo.com</a> / <a href="http://boykotx.org">BoykoTX.org</a>)
            dt SSL Consultant
            dd Ben Adida (<a href="http://ben.adida.net">ben.adida.net</a>)
            dt Logo Design & Original Typography
            dd Michael Ortlieb (<a href="http://mocreate.com">mocreate.com</a>)

          h2 Video Credits
          dl
            dt &ldquo;Mayday PAC Launch&rdquo; video
            dd True Life Media (<a href="http://truelifemedia.com">truelifemedia.com</a>)

          h2 Photo Credits
          dl
            dt &ldquo;Ghosts of my Grandfathers&rdquo;
            dd Timothy Burak, licensed CC BY-NC-ND
            dt &ldquo;Cement&rdquo;
            dd Chase Jarvis: CC-BY-NC
            dt &ldquo;Staircase: Possibilities&rdquo;
            dd phoelixde: CC-BY-NC-ND
            dt &ldquo;Colorado Clouds&rdquo;
            dd Kevin Udy CC-BY-SA 3.0
            dt &ldquo;Soldiers&rdquo;
            dd US Embassay: CC-BY-ND
            dt &ldquo;Citizens Outside&rdquo;
            dd Brook Stevenson: Used with Permission

          h2 Software Tools Used
          ul
            li <a href="http://www.wordpress.org">WordPress</a>
            li <a href="http://www.mediatemple.net">MediaTemple.net</a>
            li <a href="https://easydigitaldownloads.com/">Easy Digital Downloads</a>
            li Campaignify from <a href="http://astoundify.com/">Astoundify</a>
            li <a href="http://www.stripe.com/">Stripe</a>
            li <a href="https://developers.google.com/appengine/">Google App Engine</a>

          h2 Volunteer Tech Team
          ul
            li List yoselves

          p Want to join the web development effort? Head over to #mayone on Freenode.

          a(href="privacy-policy") Our Privacy Policy

    .spacing
    include includes/footer
