doctype html
html
  head
    include includes/head
  body#privacy
    include includes/header
    .container
      .page-header
      .row
        .col-md-12
          iframe(src="http://webchat.freenode.net?channels=%23mayone&uio=d4",width="800",height="400")
    .spacing
    include includes/footer
