doctype html
html
  head
    include includes/head
  body#distribution
    include includes/header
    .container
      .page-header
        h1 Distribution Plan
    .container
      h2 What does MayOne.us do with my contribution?
        p
        p We win elections in which we&rsquo;ve made fundamental reform a key issue.
        p Once we hit our kickstart targets, the money raised is turned over to professional campaigners, who will crafted messages and interventions in targeted districts to make fundamental reform the issue in that campaign.
        p In 2014, these interventions will serve as prototype for a much larger round of funding in the 2016 cycle. Our aim this year is to learn what works, and to prepare for the much bigger fight in 2016 for a majority in Congress committed to reform.
        p We hope you&rsquo;ll give us the freedom to run the most effective campaign for fundamental reform that we can. But if you&rsquo;d like to target your contributions, you can indicate whether your money will help only Republicans, or only Democrats.
      h2 Will my contribution&nbsp;be matched?
        p
        p If we meet the $1 million goal, Lessig has committed to getting that amount matched. We will only collect the $1 million in commitments if it can be matched. The same for the $5 million goal.
        p At this point, the matching contributors can&rsquo;t be named. But when the match is announced, they will be.
      h2 What percentage of my contribution is eaten up by overhead?
        p
        p <strong>None of the money raised through this citizens-up campaign will be spent for overhead or other indirect costs. 100% of that money will be devoted to campaigns.</strong>
        p This doesn&rsquo;t mean there is no overhead in this project. It means we will cover the costs of that overhead &mdash; including even the payment processing fees from your contributions &mdash; from other sources. Those costs will be as small as we can keep them. None of the directors of the Mayday PAC will be paid. And we will keep the costs of building and maintaining MayOne.US as low as possible. But whatever costs this organizing site incurs, we will cover them independently of the money raised through the two pledge campaigns.
      h2 More Money Questions:
        h3 What payment processor do you use? Are my money and information safe?
          p
          p We have decided upon using <a title="stripe home page" href="https://stripe.com/">Stripe</a> as our payment processor. Stripe has offered us a very competitive rate (for which we thank them), and Stripe is compliant with PCI requirements and no sensitive data hits our servers. When you enter in your credit card information, it is not stored on the mayone.us site and goes directly to Stripe via the Stripe.js API.
          p Or in short: Yes, your money and info are safe.
      h2 What if my question isn&rsquo;t answered here?
        p
        p <a title="Contact" href="contact/">You can ask us through our Contact Page. Feel free to send us your feedback</a>.

    .spacing
    include includes/footer
