doctype html
html
  head
    include includes/head
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js")
    script.
      var myApp = angular.module('mayOneEmbed',[]);

      function addCommas(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
           x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
      }

      myApp.controller('IndexController',
                       ['$scope', '$http', function($scope, $http) {

        // July 5th at 05:00 UTC is July 4th at midnight, Eastern Daylight Time
        var date_its_over = Date.UTC(2014,06,05,05,00,00,00);
        var days_left = Math.floor((date_its_over - Date.now())/(1000*24*60*60));

        var days_left_message = "";
        if (days_left >= 0) {
          days_left_message = days_left + ' days left';
        }

        $scope.ctrl = {
          daysLeftMsg: days_left_message,
          totalCents: 0,
          init: function() {
            $http.get('/r/total').success(function(data) {
              $scope.ctrl.totalCents = data.totalCents;
            });
          },
          moneyString: function() {
            return '$' + addCommas(Math.floor($scope.ctrl.totalCents / 100) - 1000000) +
                " raised";
          },
          percentFunded: function() {
            return '' + $scope.ctrl.percent() + '% funded';
          },
          percent: function() {
            // Times 100 divided by 100
            return Math.floor(($scope.ctrl.totalCents - 100000000) / 5000000);
          },
          percentWidth: function() { return Math.min(100, $scope.ctrl.percent()); }
        };
      }]);
  body#embed(ng-app="mayOneEmbed",ng-controller="IndexController",ng-init="ctrl.init()")
    .slogan Together, over 50,000 Americans have come together to kickstart fundamental reform. Join us. 
    .progress.progress-lg.progress-striped.active(ng-show="ctrl.totalCents != 0")
      .progress-bar.progress-bar-danger(role="progressbar",
        aria-valuenow="ctrl.percent()",
        aria-valuemin="0", aria-valuemax="100",
        ng-style="{width: ctrl.percentWidth() + '%'}",
        style="position:absolute;top:0;left:0;background-color:rgb(0, 153, 51);")
    .progress-text
      span {{ctrl.moneyString()}}
      span {{ctrl.daysLeftMsg}}

  .embed-pledge
    a(href="/pledge", target="_blank").btn-group
      .pledge-button.btn.btn-danger Donate Now
