doctype html
html
  head
    include includes/head
  body#privacy
    include includes/header
    .container
      .page-header
        h1 Frequently Asked Questions
    .container
      h2 What&rsquo;s the plan here?
      p We have launched an experiment to see whether we can kickstart a campaign for fundamental reform.
      p That campaign will occur across at least two election cycles.
      p If we raise our funding targets, in 2014, we will launch a small campaign in at least 5 congressional districts. Based on what we learn in those 5 districts, we will launch a much larger campaign to get us to 218 votes in the House, and 60 votes in the United States Senate.

      h2 What do you mean by &ldquo;kickstart&rdquo;?
      p We will set a series of targets &mdash; two in 2014, more for the 2016 cycle &mdash; in which we announce a fundraising goal, and ask people to commit to that goal.
      p People &ldquo;commit&rdquo; by pledging a contribution &mdash; anywhere between $5 and $10,000 &mdash; to the Mayday PAC. That commitment is collected only if we reach the target by the target date at the end of the month. If we don&rsquo;t meet the goal, no pledges are collected.
      p In 2014, there is one addition contingency. Lessig has committed to matching the two fundraising targets. We will only collect your pledge if he has secured that match.

      h2 What happens if we don&rsquo;t meet our goal?
      p If the goal is not met, your pledge to the kickstart campaign is not collected. The experiment has failed, and we will go back to the drawing board.
      h2 What kind of &ldquo;PAC&rdquo; is the Mayday PAC?
      p The Mayday PAC is a SuperPAC. That means it spends the money it collects independently of any political campaign. But the ultimate aim of this SuperPAC is to end the dominance of SuperPACs in our elections.
      p We want fundamental reform that will change the way elections are funded. The first step towards that goal is to elect a Congress that will enact fundamental reform. Once we have that Congress, we will then consider the constitutional reform that will secure fundamental reform.

      h2 So you want to use big money to fight big money?
      p Yes. We want to use big money (collected from the many) to fight big money (collected from the few). Ironic, we understand. But embrace the irony. Everyone recognizes that politics costs money in America. And we don&rsquo;t imagine a future where campaigns are free. But if we can pull together a large enough pool of money through this campaign, we can convince Americans that they can change the way money matters in politics. We can create a system in which it isn&rsquo;t the influence of a few that matters. Instead, as any democracy should, it would be the influence of a majority that matters.

      h2 What will you spend the money on?
      p Winning elections, and learning precisely what can win elections. We will hire campaign managers for both Republican and Democratic campaigns. They will spend money in the way that campaigns spend money. The leadership of the SuperPAC, however, will not be compensated.
      p For a more detailed breakdown, check out our &ldquo;
        a(title="Distribution Plan", href="../distribution-plan/") Distribution Plan
        &rdquo; page.

      h2 Will the contributors to the Mayday PAC be listed?
      p The names of all contributors above $200 will be reported to the F.E.C. We will list the names of large contributors prominently on our site. We will not accept anonymous contributions, or contributions from anonymizing entities.

      h2 What does &ldquo;fundamental reform&rdquo; mean?
      p We want to reform the way campaigns are funded. As we see it, the critical problem in American politics today is that a tiny fraction of Americans are the effective, or relevant, funders of congressional campaigns. We want to spread that influence out, to include the widest number of citizens as the effective funders of campaigns.

      p There are a range of proposals that would do this &mdash; some better than others, but all which would achieve fundamental reform. We have listed those at &nbsp;
        a(href="http://reform.to/") reform.to
        , and that list may evolve.

      p But as a first step, any candidate for Congress who has pledged to co-sponsor one of these reforms will be safe from the Mayday PAC. At this point, we will only target candidates who have not committed to co-sponsoring fundamental reform.
      p That standard may change. The requirements for &ldquo;safe harbor&rdquo; may need to evolve. But at this point, the simplest way for a candidate or incumbent to avoid the Mayday PAC is commit to fundamental reform.

      h2 The reforms at <a href="http://reform.to/">reform.to</a> are just statutory. What about constitutional change?
      p We believe a commitment to statutory reform is the first necessary step. Once we have a majority big enough to enact that reform, we will turn to the much harder challenge of constitutional reform. The work of the Mayday PAC will not be finished until we have secured constitutional reform. But that change is next on the list. It is not the focus of our work now. And we do not view a commitment to constitutional reform without a commitment to statutory reform as sufficient.

      h2 I pledged, but the progress bar on the homepage didn&rsquo;t change. Why is that?
      p In order to keep the site responding quickly, we using WP Super Cache to create faster files. In layman&rsquo;s terms, the progress bar only &ldquo;checks&rdquo; for new donations once every hour or so. Don&rsquo;t worry &mdash; your pledge was recorded in our system, and will count towards the total.

      h2 What if my question isn&rsquo;t answered here?
      p
        a(title="Contact", href="contact/") You can ask us through our Contact Page. Feel free to send us your feedback.
      div.comments-area#comments
    .spacing
    include includes/footer