doctype html
html
  head
    include includes/head
  body#privacy
    include includes/header
    .container
      .page-header
        h1 More Ways to Help
    .container
      h2 I&rsquo;ve pledged, but now what?
        p
        p <em><strong>Share.</strong> </em>The single most important thing you can do now is to share this site and the message and the idea. You can tweet, facebook, or blog the campaign using the social media markers on the main page, just under the Pledge Now button. Be sure to use the name of the site, MayOne.us, and the hashtag #MayOne. If&nbsp;you have a blog or website, add our widget by including this code in your site:
        pre(style="color: #666666;") &lt;iframe src="http://mayone.us/campaigns/may-one/?widget=1" width="260px" height="260px" frameborder="0" scrolling="no" /&gt;&lt;/iframe&gt;
      h2 What more beyond <em>sharing</em>?
        p
        p Create and pester.</p><p><em>Create:</em>&nbsp;Tell your story. Tell this story. Explain to your friends why this issue matters. And through that telling, you will help us understand how to make it more compelling. Use the #MayOne hashtag, and again, be sure to share what you&rsquo;ve created with us and with your friends.
        p <em>Pester:</em>&nbsp;We will win only when we have a majority in Congress committed to fundamental reform. If you go to <a href="http://reform.to">reform.to</a>, you can see where your representatives stand on fundamental reform. If they&rsquo;re on the wrong side, pester them to get on the right side. And if you convert someone, let us know.
      h2 What about offline?</h2>
        p
        p Spread the word, face to face. Talk to people in your social groups, your clubs, and ask them to out MayOne.us. Get people together and organized working for change. &nbsp;Contact your local Congressman and tell them that you want legislation that provides for citizen-funded elections, and if they&rsquo;re not receptive, let people know.
      h2 I&rsquo;m creative/smart/talented &mdash; can I help?
        p
        p Damn straight. On this page, we&rsquo;ll keep a list of our current needs. But beyond the specifics, we&rsquo;re keen to find material we can share with others. If you&rsquo;re an artist, we&rsquo;d love to get your photography, sketches, videos, and animations. If you&rsquo;re a programmer, we&rsquo;d love to see what creative apps you can come up with to help us spread the word and get organized. If you can upload your work digitally, just be sure to tag it #MayOne, and send an e-mail to <a href="mailto:info@mayone.us">info@mayone.us</a>.
      h2 I&rsquo;m not an American, but I want to help.
        p
        p If you&rsquo;re not a citizen or permanent resident of the U.S., unfortunately you cannot pledge or give any item of value. However, if you want to spread the word, please do so. And remember &mdash; the issues we fight for here are issues in every democracy. Be sure to get informed and involved locally.
      h2 What help do you need now?
        p
        p Here&rsquo;s a list of the things we need &mdash; work, stuff, ideas, etc. This list will evolve, so check back often. If you have something, email us at <a href="mailto:info@mayone.us">info@mayone.us</a>.
        ul
          li Iconic images of America &mdash; for the opening screen, compelling, color images of America, freely licensed ideally.
          li Haunting images of America &mdash; for the opening screen, images the evoke a sense of what America needs.
          li Technical support &mdash; we&rsquo;ve had incredible volunteer support, and need more.

    .spacing
    include includes/footer