doctype html
html
  head
    include includes/head
  body#privacy
    include includes/header
    .container
      .page-header
        h1 Privacy Policy
      .row
        .col-md-12
          p The Mayday PAC values your privacy. You join our movement for a specific purpose. We will not use your personal information in a way that is inconsistent with that purpose.
          p What follows is our Privacy Policy. If you have any questions, or concerns, please contact us at info@mayone.us:
          ul
            li For anyone making a contribution or a pledge to contribute to the Mayday PAC, we must collect the personal information necessary for F.E.C. reporting. We will never sell, rent, share or distribute that information to anyone, except to the F.E.C.
            li We also collect user information, consisting of names, email addresses, zipcodes, and, potentially, cellphone numbers and social media identifiers. We will never sell, rent, share or distribute that information to anyone, except with express permission from you, or as described in the next paragraph.
            li We sometimes partner with other political action organizations. If you provide user information to us after being referred to us by such a partner, we may share that information with the referring site. We will never partner with any organization that is less protective of the privacy of their users than we are.
            li We collect and store user information for login purposes and in order to stay in touch with you.
            li Except to the extent required by the F.E.C., you can remove yourself and your user information from our systems whenever you want.
            li We collect analytics about how people use our site. We use that information to improve the site, and we will sometimes share usage information with reporters, funders and others. But we only share that information at an aggregate level; we never share information about individual users.
    .spacing
    include includes/footer