doctype html
html
  head
    include includes/head
    script.
      ga('require', 'ecommerce', 'ecommerce.js');
    script.
      ga('ecommerce:addTransaction', {
        id: '{{pledge.key()}}',
        revenue: {{pledge.amountCents}} / 100.0,
      });
      ga('ecommerce:send');

  body#privacy
    include includes/header
    .container
      .page-header
        h1 Thank You
      .row
        .col-md-12
          p 
            for pledging {{pledge.amountCents | formatCents}} in support of Mayday.  Here is how you can multiply your impact right now:
          p
            1. We've sent a link to your email to create your own pledge page. Create your pledge page and invite 5 friends to pledge.
          p
            2. Share the Mayday experiment with your friends on  <a href="https://www.facebook.com/sharer/sharer.php?u=https://mayday.us" title="Share on Facebook">Facebook</a> and <a href="https://twitter.com/home?status=Money%20has%20corrupted%20our%20democracy.%20Can%20we%20fix%20it?%20Act%20now,%20join%20%23MAYDAYUS%20--%20let's%20try%20something%20new:%20MAYDAY.US" title="Share on Twitter">Twitter<a>
    .spacing
    include includes/footer


Thank you for pledging $AMOUNT in support of Mayday. Here is how you can multiply your impact right now:



