doctype html
html
  head
    include includes/head
    script.
      ga('require', 'ecommerce', 'ecommerce.js');
    script.
      ga('ecommerce:addTransaction', {
        id: '{{pledge.key()}}',
        revenue: {{pledge.amountCents}} / 100.0,
      });
      ga('ecommerce:send');
      window.optimizely = window.optimizely || [];
      window.optimizely.push(['trackEvent', 'pledged', {'revenue': {{pledge.amountCents}}}]);

  body#privacy
    include includes/header
    .container
      .page-header
        h1 Thank You
      .row
        .col-md-12
          p Thank you for pledging {{pledge.amountCents | formatCents}} in support of Mayday's campaign to get money out of politics. Here is how you can multiply your impact right now:
          ol
            li
              a(href="https://my.mayday.us/dashboard/new_from_pledge/{{user.url_nonce}}") Make your own customized pledge page!
            li Share the Mayday experiment with your friends on  <a href="https://www.facebook.com/sharer/sharer.php?u=https://mayday.us" title="Share on Facebook">Facebook</a> and <a href="https://twitter.com/home?status=Money%20has%20corrupted%20our%20democracy.%20Can%20we%20fix%20it?%20Act%20now,%20join%20%23MAYDAYUS%20--%20let's%20try%20something%20new:%20http://MAYDAY.US" title="Share on Twitter">Twitter<a>
    .spacing
    include includes/footer
    script(src="/static/conversion.js")
