doctype html
html
  head
    include includes/head

  body#set-secrets-form
    .container
      .page-header
        h1 Set Secrets

      .row
        .col-md-4
          form(id="set-secrets-form", method="POST", action="/admin/set_secrets").col-md-8
            .row
              .col-md-12
                label "Stripe Public Key"
                div
                  .input-group.input-group-lg
                    input.form-control(type="text", required,
                      name="stripe_public_key")
            .row
              .col-md-12
                label "Stripe Private Key"
                div
                  .input-group.input-group-lg
                    input.form-control(type="text", required,
                      name="stripe_private_key")
            .row
              .col-md-12
                label "Mailchimp Api Key"
                div
                  .input-group.input-group-lg
                    input.form-control(type="text", required,
                      name="mailchimp_api_key")
            .row
              .col-md-12
                label "Mailchimp List Id"
                div
                  .input-group.input-group-lg
                    input.form-control(type="text", required,
                      name="mailchimp_list_id")   
            .row
              .col-md-12                
                  span.input-group-btn
                    button.btn.btn-danger(type="submit") Save         
