doctype html
html
  head
    include includes/head
  body#privacy
    include includes/header
    .container
      .page-header
        h1 Thank You
      .row
        .col-md-12
          p Blah blah blah thank you whatever.
    .spacing
    include includes/footer