doctype html
html
  head
    include includes/head
  body#privacy
    include includes/header
    .container
      .page-header
        h1 Thank You
      .row
        .col-md-12
          p Thank you for your pledge. Please help spread the word however you can, and stay tuned for information about our "Mayday First Responder" schwag.
          p Please share our campaign through social media, tell your friends, family, co-workers, and neighbors, call in to your local radio shows and write letters to your local editors.  Or if you wish, buy a full page advert in the New York Times. (Up to you...)
          p We'll be working on ways to help spread the message as well, and we would love for you to share your ideas about how to do so with us through the #MayDayPAC hashtag, our <a href="https://www.facebook.com/mayonedotus">Facebook Page</a>, or <a href="https://twitter.com/MayOneUS">MayOneUS</a> on Twitter.
    .spacing
    include includes/footer