doctype html
html
  head
    include includes/head

  body#donation_update
    include includes/header
    .container
      .page-header
        h1 Thank You
      .row
        .col-md-12
          p Thank you for dedicating {{num_donations}} for email address {{email}}, totalling ${{amount_donations}} to be used in our campaign against corrupt congressman Upton. 
          p It is important to let Upton know, publically, that the people are against his corruption. Please tweet your support
    .spacing
    include includes/footer
