doctype html
html
  head
    include includes/head

  body#donation_update
    include includes/header
    .container
      .page-header
        h1 Thank You
      .row
        .col-md-12
          p Thank you for dedicating {{num_donations}} for email address {{email}}, totalling ${{amount_donations}} to be used in our campaign against corrupt congressman Upton. 
          p It is important to let Upton know, publically, that the people are against his corruption. Please tweet your support
    .spacing
      .row
        .col-md-12
          div(class="social-icons")
            a(class="twitter", href="https://twitter.com/home?status=Money%20has%20corrupted%20our%20democracy.%20Join%20@IJasonAlexander%20in%20fixing%20it:%20https://mayday.us/jason-alexander/%20https://MAYDAY.US"): img(src="/static/share_twitter.png")
    include includes/footer
