doctype html
html
  head
    include includes/upton-head

  body(id="donation_update", onload="SetTweet()")
    .container
      .page-header
        br
        h1 Thank You
      .row
        .col-md-12
          p Thank you for dedicating {{num_donations}} donations for email address {{email}}, totalling ${{amount_donations}} to be used in our campaign against corrupt congressman Upton. 
          p It is important to let Upton know, publically, that the people are against his corruption. Please tweet your support
    .spacing
      .row
        .col-md-12
          div(class="social-icons")
            a(class="twitter", href='https://twitter.com/home?status=My%20${{amount_donations}}%20pledged%20to%20%23MAYDAY.US%20can%20be%20used%20to%20take%20down%20corrupt%20congressman%20Upton'): img(src="/static/share_twitter.png")
    include includes/footer
