doctype html
html
  head
    include includes/upton-head
    script(type='text/javascript')
        function SetTweet(){
           var tweets = [
                "I%20support%20@MAYDAYUS%20and%20ending%20@RepFredUpton's%20corruption%20in%20DC.%20Uncover%20the%20%23MI06%20scandal%20@HPMatuszak%20@HeraldPalladium",
                ".@runkdavi%20cover%20the%20corruption!%20Political%20bullying%20has%20got%20to%20go%20-%20I’m%20for%20@MAYDAYUS%20to%20beat%20Upton%20in%20MI06",
                "Stop%20@RepFredUpton’s%20intimidation%20-%20I%20support%20@MAYDAYUS%20in%20%23MI06%20to%20end%20corruption.%20Check%20out%20the%20story%20@DarrenGoode"]
            var tweet = tweets[Math.random()*tweets.length|0]
            document.getElementsByClassName('twitter')[0].href = "https://twitter.com/home?status=" + tweet;
        }

  body(id="donation_update", onload="SetTweet()")
    .container
      .page-header
        br
        h1 Thanks – just one more step for fighting corruption 
      .row
        .col-md-12
            p We're sorry, but we're unable to find your previous donation. The most important thing is to 
              b help us stir up some buzz by Tweeting your support at Michigan reporters and let's make Fred Upton feel the heat in the media.
            p Click on the button below to Tweet your support. We've written one for you (you can change it, of course!) that tags specific reporters and papers in Michigan so they'll cover the story.
    .spacing
      .row
        .col-md-12
          div(class="social-icons")
            a(class="twitter", style="font-weight:700;font-size:30px;font-family:'Roboto', 'Questrial',sans;", href='https://twitter.com/home?status=My%20${{amount_donations}}%20pledged%20to%20%23MAYDAY.US%20can%20be%20used%20to%20take%20down%20corrupt%20congressman%20Upton') Tweet This! 
    include includes/footer
