doctype html
html
  head
    include includes/head
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js")
    script.
      // For older browsers without HTML5
      $(function() {
        $('#update-form').submit(function(event) {
          $('.butterbar .alert-success').addClass('hide');
          if( ! $('input[name="occupation"]').val() || ! $('input[name="employer"]')) {
            $('.butterbar .alert-danger').removeClass('hide').html(
              'Both occupation and employer are required.');
            event.preventDefault();
          }
        });

        $('input[name="occupation"], input[name="employer"]').on('keyup', function(e) {
            var text_box = $(e.target);
            var form_group = text_box.parents('.form-group');
            if(text_box.val() == '') {
                form_group.addClass('has-error');
            } else {
                form_group.removeClass('has-error');
            }
        });
      });

  body#user-update
    include includes/header

    .container
      .page-header
        h1 Update Your Information
      .butterbar.row
        .alert.alert-danger.hide
      .butterbar.row
        div(class="alert alert-success{% if not success %} hide{% endif %}").
          {% if success %}
          You have updated your information successfully
          {% endif %}

      #content.row
        p(class="col-md-8").
          Thank you for supporting MayDay PAC. Please fill out the information
          below to complete your pledge.
        p(class="col-md-8").
          You are updating the information for email address
          <code>{{ user.email }}</code>.
        form(id="update-form", method="POST", action="./{{ user.url_nonce }}").col-md-8
          .row
            .col-md-12
              label Occupation
              div(class="form-group{% if not user.occupation %} has-error{% endif %}")
                .input-group.input-group-lg
                  input.form-control(type="text", required,
                    placeholder="Gardener, Railroad Worker, etc",
                    name="occupation",
                    value="{{ user.occupation if user.occupation != None }}")
          .row
            .col-md-12
              label Employer
              div(class="form-group{% if not user.employer %} has-error{% endif %}")
                .input-group.input-group-lg
                  input.form-control(type="text", required,
                    placeholder="Nintendo, UPS, Self, etc",
                    name="employer",
                    value="{{ user.employer if user.employer != None }}")
          .row
            .col-md-6
              label Phone Number (optional)
              .input-group.input-group-lg
                input.form-control(type="tel",
                  placeholder="(212) 867-5309",
                  name="phone",
                  value="{{ user.phone if user.phone != None }}")
            .col-md-6
              label Who to Fund?
              .input-group.input-group-lg
                select.form-control(name="target")
                  {% for target in ['Whatever Helps', 'Democrats Only', 'Republicans Only'] %}
                  {% if user.target == target %}
                  option(value="{{ target }}", selected) {{ target }}
                  {% else %}
                  option(value="{{ target }}") {{ target }}
                  {% endif %}
                  {% endfor %}
          .row
            .col-md-12
              span.input-group-btn
                button.btn.btn-danger(type="submit") Update


      .row.spacing
    include includes/footer
