footer.footer.row(id="footer")
  div.col-md-8
    div.pac_disclaimer Paid for by Mayday PAC.<br> Not authorized by any candidate or candidate's committee<br><a href="https://mayday.us">www.MayDay.us</a>

  div.col-md-2
      div.copyright &copy; 2014 Mayday PAC<BR>Some Rights Reserved
        a(href="http://creativecommons.org/licenses/by-sa/4.0")
          img(src="/static/creativecommons_80x15.png")
