footer
  .social
    a(href="https://twitter.com/MayOneUS")
      span.entypo-social.twitter
    a(href="https://www.facebook.com/mayonedotus")
      span.entypo-social.facebook
    a(href="https://plus.google.com/113369859819907761033/posts")
      span.entypo-social.gplus
    a(href="https://vimeo.com/user187904")
      span.entypo-social.vimeo
  .notices
    .pac_disclaimer
      p Paid for by Mayday PAC
      p Not authorized by any candidate or candidate's committee
      p
        a(href="//mayday.us/") www.MayDay.us
        &nbsp; | &nbsp;
        a(href="//mayday.us/privacy-policy") Privacy Policy
    .copyright
      p Entypo pictograms by Daniel Bruce - <a href="http://www.entypo.com">www.entypo.com</a>
      p &copy; 2014 Mayday PAC. <a href="http://creativecommons.org/licenses/by-sa/4.0"><img src="//i.creativecommons.org/l/by-sa/4.0/80x15.png" alt="Creative Commons"></a>
include ../../extern/frontend/html/footer.html
