a(href="//mayday.us/") Home
a(href="//mayday.us/faq") FAQ
a(href="//mayday.us/distribution-plan") Distribution Plan
a(href="//mayday.us/more-ways-to-help") More Ways to Help
a(href="//mayday.us/learn-more") Learn More
a(href="//mayday.us/about-us") About Us
a(href="//mayday.us/contact") Contact
