header
  .container
    .row
      .col-lg-2.logo
        a(href="/")
          img(src="/static/logo_inverted31-e1398893630874.png", alt="Logo")
      .col-lg-10.links
        include header-links
  input(type="checkbox", id="primary-menu-toggle")
  label(for="primary-menu-toggle")
  .mobile-links
    include header-links
