a(href="/") Home
a(href="/faq") FAQ
a(href="/distribution-plan") Distribution Plan
a(href="/more-ways-to-help") More Ways to Help
a(href="/learn-more") Learn More
a(href="/about-us") About Us
a(href="/contact") Contact
