div.row.flag-header
  div.container
    div.top-menu.pull-right
      a(href='http://www.mayday.us') MAYDAY
        span .US
    h1 MayDay
      span .us
    h2 Help U.S. kickstart fundamental reform, by reducing the influence of money in politics.
