a(href="//mayone.us/") Home
a(href="//mayone.us/faq") FAQ
a(href="//mayone.us/distribution-plan") Distribution Plan
a(href="//mayone.us/more-ways-to-help") More Ways to Help
a(href="//mayone.us/learn-more") Learn More
a(href="//mayone.us/about-us") About Us
a(href="//mayone.us/connect") Connect
