header
  .container
    .row
      .col-lg-4.logo
        a(href="/")
          img(src="/static/logo_inverted31-e1398893630874.png")
      .col-lg-8.links
        a(href="/distribution-plan") Distribution Plan
        a(href="/faq") FAQ
        a(href="/contact") Contact