title MayOne.us - SuperPAC to end all SuperPacs. Mayday for the Republic.
link(rel="stylesheet", href="/static/reset.css")
link(rel="stylesheet", href="/static/common.css")
link(rel="stylesheet", href="/static/style.css")
link(rel="stylesheet", href="/static/v9green.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Questrial")
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:image" content="/static/share_preview.jpg"/>
<meta property="og:title" content="MAYDAY: Democracy needs an upgrade. Act now."/>
<meta property="og:description" content="Money has corrupted politics. We’re kickstarting a political experiment big enough to win a Congress committed to fundamental reform -- Join us!"/>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" id="googlefonts-css" href="https://fonts.googleapis.com/css?family=Oswald:300,400,700|Lato:400,700&amp;subset=latin" type="text/css" media="all">

include ../../extern/frontend/html/head.html

