/* E.D. reset css v.2 */

html { overflow-y: scroll }
html,button,input,select,textarea { font-family:sans-serif }

/* html 5 */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary,menu { display:block }
audio,canvas,video { display:inline; zoom:1 }
audio:not([controls]) { display:none; height:0 }
[hidden] { display:none }

/* typo */
a:focus { outline:thin dotted }
a:active,a:hover { outline:0 }
abbr[title] { border-bottom:1px dotted }
b,strong { font-weight:bold }
q,blockquote { margin:1em 40px }
dfn { font-style:italic }
mark { background:#ff0; color:#000 }
small { font-size:80% }
sub,sup { font-size:75%; line-height:0; position:relative; vertical-align:baseline }
sup { top:-.5em }
sub { bottom:-.25em }
hr { -moz-box-sizing:content-box; box-sizing:content-box; display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0 }

code,kbd,pre,samp { font-family:monospace, serif; _font-family:'courier new', monospace; font-size:1em }
pre { white-space:pre-wrap; word-wrap:break-word }

dd,ul,ol { margin-left: 2em }
ol { list-style-type: decimal }
.nav, .nav ul, .nav li, .nav dl, .nav dt, .nav dd, menu, menu ul, menu li { margin: 0; padding: 0; list-style: none; list-style-image: none }

img { border:0; -ms-interpolation-mode:bicubic; vertical-align: middle }

/* form */
body,figure,form { margin:0 }
legend { border:0; white-space:normal; margin:0; padding:0 }
button,input,select,textarea { font-size:100%; vertical-align:middle; margin:0 }
button,input { line-height:normal }
button,select { text-transform:none }
button,html input[type=button],/* 1 */
input[type=reset],input[type=submit] { -webkit-appearance:button; cursor:pointer; overflow:visible }
button[disabled],html input[disabled] { cursor:default }
input[type=checkbox],input[type=radio] { box-sizing:border-box; height:13px; width:13px; padding:0 }
input[type=search] { -webkit-appearance:textfield; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box }
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration { -webkit-appearance:none }
button::-moz-focus-inner,input::-moz-focus-inner { border:0; padding:0 }
textarea { overflow:auto; vertical-align:top; resize: vertical }

/* table */
table { border-collapse:collapse; border-spacing:0; font: inherit }
td { vertical-align:top }


/* custom */
.ir, .inr a { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; overflow: hidden; }

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.clear { clear: both; }
.clear.left { clear: left; }
.clear.right { clear: right; }

.pull-left { float: left; }
.pull-right { float: right; }

.hidden { display: none !important; visibility: hidden; }