@media (max-width:1199px) {
    header {
        .links {
            display: none;
        }
        #primary-menu-toggle + label {
            display: inline-block;
        }
    }
}

@media (max-width:991px) {
    #rules {
        margin-top: 30px;
    }
}
