@import "_entypo";

html, body {
    font-family: "Oswald", arial, sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", arial, sans-serif;
}
p, div {
    font-family: "Lato", arial, sans-serif;
    font-size: 17px;
}

.spacing {
    height: 200px;
}

#index {
    a { color: yellow; }
    header a { color: white; }
    section {
        padding-bottom: 40px;
        h3 {
            font: normal 45px/normal 'Oswald', sans-serif;
            text-align: center;
            margin: 40px;
            color: white;
        }
        .text {
            p {
                font-size: 20px;
                margin: 25px 0;
            }
            p.indented {
                margin-left: 50px;
            }
            p.strong {
                font-weight: bold;
                font-style: italic;
            }
            color: white;
            margin-left: auto;
            margin-right: auto;
            max-width: 80%;
        }
    }
}

#embed {
    width: 260px;
    height: 260px;

    .slogan {
        text-align: center;
        margin: 20px auto 20px auto;

        font: 200 25px/29px 'Oswald', sans-serif;
        text-shadow: 0px 0px 10px rgba(0,0,0,0.5);

        color: #fff9fb;
        .u {
            color: #f99;
        }
        .s {
            color: #9999e6;
        }
    }

    .progress {
        width: 200px;
        height: 20px;
        margin: 0px auto 20px auto;
        background: grey;
        position: relative;
        border-bottom-left-radius: 26px;
        border-bottom-right-radius: 26px;
        border-top-left-radius: 26px;
        border-top-right-radius: 26px;
        .progress-bar {
            height: 20px;
            line-height: 20px;
            position: absolute;
            top: 0;
            left: 0;
            border-bottom-left-radius: 26px;
            border-bottom-right-radius: 26px;
            border-top-left-radius: 26px;
            border-top-right-radius: 26px;
        }
    }

    .progress-text {
        margin: 7px auto 7px auto;
        text-align: center;
        color: #fff9fb;
        text-transform: uppercase;
        font-size: 14px;
        span {
          margin: 0px 7px;
        }
    }
}


#index #primary {
    position: relative;
    #images {
        img {
            width: 100%;
            opacity: 0;
            transition: 600ms opacity;
        }

        img:not(:first-child) {
            position: absolute;
            top: 0;
            left: 0;
        }

        img.active {
            opacity: 1;
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .slogan {
        width: 600px;
        text-align: center;
        margin: 100px auto 20px auto;

        font: 400 50px/58px 'Oswald', sans-serif;
        text-shadow: 0px 0px 10px rgba(0,0,0,0.5);

        color: #fff9fb;
        .u {
            color: #f99;
        }
        .s {
            color: #9999e6;
        }
    }

    .progress {
        width: 500px;
        height: 28px;
        margin: auto;
        background: grey;
        position: relative;
        border-bottom-left-radius: 26px;
        border-bottom-right-radius: 26px;
        border-top-left-radius: 26px;
        border-top-right-radius: 26px;
        .progress-bar {
            height: 28px;
            line-height: 28px;
            position: absolute;
            top: 0;
            left: 0;
            border-bottom-left-radius: 26px;
            border-bottom-right-radius: 26px;
            border-top-left-radius: 26px;
            border-top-right-radius: 26px;
        }
        .progress-text {
            height: 28px;
            line-height: 28px;
            position: absolute;
            top: 0;
            left: 32px;
            z-index: 10;
            width: 435px;
            div {
                float: left;
                white-space: nowrap;
                color: white;
                font-size: 14px;
                text-transform: uppercase;
                width: 145px;
            }
        }
    }

    .share-row {
        text-align: center;
    }

    .share {
        color: #fff9fb;
        font: 400 22px/30px 'Oswald', sans-serif;
        background-color: rgba(0,0,0,0.4);
        padding: 5px;
        display: inline-block;

        .text {
            font-style: italic;
            margin-right: 10px;
        }
        a {
            color: #fff9fb;
            margin: 5px;
        }
        a:hover {
            text-decoration: none;
        }
    }
}


#index #moonshot {
    color: white;
    text-align: center;
    background: #171723;
}

#index #idea {
    background: rgb(34, 31, 42);
}

#index #kickstart {
    background: #2b232f;
}

#index #s2014 {
    background: #3a2e38;
}

#index #s2016 {
    background: #4b3c43;
}

#index #mayday {
    background: #380101;
    text-align: center;
    h3 {
        color: yellow;
        font-size: 45px;
        line-height: 67px;
    }
    .text {
        p {
            color: yellow;
            font-size: 32px;
            line-height: 48px;
        }
    }
}

.pledge {
    margin: 20px auto;
    text-align: center;
    .pledge-button {
        font: bold 22px 'Oswald', sans-serif;
        text-align: center;
        text-transform: uppercase;
        padding: 20px 40px 22px;
        display: inline-block;
        border-radius: 4px;
        color: yellow;
        background-color: #b50000;
    }
}

.embed-pledge {
    margin: 20px auto;
    text-align: center;
    .pledge-button {
        font: bold 22px 'Oswald', sans-serif;
        text-align: center;
        text-transform: uppercase;
        padding: 10px 20px 11px;
        display: inline-block;
        border-radius: 4px;
        color: yellow;
        background-color: #b50000;
    }
}


header {
    background: linear-gradient(to bottom, #000000 0%,#646373 100%);
    height: auto;
    overflow: hidden;
    line-height: 120px;
    .logo {
        display: inline-block;
        img {
            padding: 20px 0;
        }
    }
    .links {
        text-align: right;
        a {
            color: white;
            margin-left: 30px;
        }
    }
    #primary-menu-toggle {
        display: none;
        & + label {
            position: absolute;
            top: 2px;
            right: 40px;
            float: right;
            display: none;
            &:hover {
                cursor: pointer;
            }
            &:before {
                font-size: 80px;
                font-family: 'EntypoRegular';
                font-style: normal;
                font-weight: normal;
                color: white;
                content: '\2630';
            }
            & + .mobile-links {
                max-height: 0px;
                transition: max-height 1s;
                -moz-transition: max-height 1s; // Firefox
                -webkit-transition: max-height 1s; // Safari and Chrome
                -o-transition: max-height 1s; // Opera
                background: black;

                a {
                    color: white;
                    clear: both;
                    display: block;
                    text-align: center;
                    font-weight: bold;
                    line-height: normal;
                    height: 50px;
                    &:first-child {
                        border-top: solid 20px white;
                        padding-top: 20px;
                        height: 90px;
                    }
                    &:last-child {
                        border-bottom: solid 20px white;
                        height: 70px;
                    }
                }
            }
        }
        &:checked + label + .mobile-links {
            max-height: 500px;
        }
    }
}

footer {
    font-family: "Oswald", arial, sans-serif;
    text-align: center;
    color: #adadad;
    .social {
        background: rgb(60, 60, 60);
        height: 110px;

        span.entypo-social {
            margin: 0 15px;
            font-size: 50pt;
            line-height: 110px;
            color: yellow;
        }
        a:hover {
            text-decoration: none;
        }
    }

    .notices {
        padding: 10px;
        background: rgb(43, 43, 43);

        .pac_disclaimer {
            width: 600px;
            margin: auto;
            border: 1px solid white;
            color: white;
            font-variant: small-caps;
            font-size: 22px;
            line-height: 22px;
            padding: 5px;
            margin-bottom: 10px;
        }
    }
}

#pledge {
    form {
        .input-group {
            width: 100%;
        }
    }

    #rules {
        background: #E0E0E0;
        padding: 10px 30px;
    }
}

#pledge-update {
    form button {
        margin-top: 20px;
    }
}

.headshot {
  float: left;
  padding: 10px 30px 10px 0px;
}

body#embed {
  background-color: #2f3238;
}

@import "responsive";
